*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
#header{
    width: 60%;
    height: 45px;
    background-color: orange;
    margin: 0 auto;
    line-height: 45px;
    text-align: center;
}
#banner{
    margin: 0 auto;
    width: 80%;
}
.img1{
    height: 100px;
    width: 50%;
    position: relative;
}
.img2{
    margin: 0 auto;
    margin-left: -1%;
    height: 100px;
    width: 50%;
}
.text-banner{
    position: absolute;
    top: 115px;
    font-size: 15px;
    margin-left: 25px;
}
#menu{
    height: 35px;
    background-color: rgb(22, 139, 206);
    border-radius: 8px;
    border: #fff solid 1px;
}
.menu li a{
    line-height: 35px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
}
.menu li{
    list-style: none;
    float: left;
}
.img-banner1{
    position: relative;
}
.text-banner1{
    position: absolute;
    top: 215px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: rgb(53, 165, 91);
}
.content{
    float: left;
    width: 100%;
}
.content1{
    width: 30%;
    float: left;
}
.content1 h5{
    margin-left: 14px;
    color: #fff;
}
.content1 li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.content1 li a{
    text-decoration: none;
}
.content2{
    width: 70%;
    float: left;
}
.ic-index{
    margin-top: 5px;
    height: 45px;
}
.text1-ct2 a{
    color: orange;
    text-decoration: none;
}
.content2 .text-ct{
    padding-top: 25px;
}
.text2-ct2 a{
    color: #000;
    text-decoration: none;
}
.text-ct{
    border-top: 2px solid #ccc;
}